<!DOCTYPE html>
<html>
    <head>
        {% feed_meta %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

    </head>
    <body>

        <div class="site">
          <div class="header">
            <h1 class="title"><a href="/">{{ site.name }}</a></h1>
	    <a class="extra" href="/blog">blog</a>
	    <a class="extra" href="/gallery">gallery</a>
	    <a class="extra" href="/projects">projects</a>
          </div>

          {{ content }}

          <div class="footer">
            <div class="contact">
              <p>
                David Pérez-Suárez<br />
                Solar Physicist<br />
                d.perez-suarez\at/ucl.ac.uk
              </p>
            </div>
            <div class="contact">
              <p>
                <a href="https://github.com/dpshelio">github</a><br />
                <a href="https://twitter.com/dvdgc13">twitter</a><br />
		<a href="https://plus.google.com/+DVDPS/">google+</a><br />
              </p>
            </div>
	    <div class="contact">
	      <p>
		<a href="http://orcid.org/0000-0003-0784-6909">orcid</a><br />
		<a href="http://figshare.com/authors/David_P_rez_Su_rez/97629">figshare</a></br />
		<a href="https://www.zotero.org/david_ps">zotero</a><br />
	      </p>
	    </div>
	    <div class="contact">
	      <p>
		<a href="http://degreed.com/dps">degreed</a><br />
		<a href="https://www.duolingo.com/DVDGC13">duolingo</a></br />
		<a href="https://courses.p2pu.org/en/dvdgc/">P2PU</a><br />
	      </p>
	    </div>
	    <div class="contact">
	      <p>
		<a href="http://creativecommons.org/licenses/by-sa/4.0/">
		  <img width="80px" src="https://licensebuttons.net/l/by-sa/4.0/88x31.png"> </a>
	      </p>
	    </div>
          </div>
        </div>

    </body>
</html>
